.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cell {
    max-height: 350px;
    max-width: 350px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid #acacac;
    box-shadow: 0 0 13px 1px #0000003b;
    border-radius: 5px;
}

body {
    background-image: url("/Citrus-App/App/Citrus/Assets/background-img.jpg");
    background-attachment: fixed;
    background-color: #f0f0f0;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.product-img {
    max-height: 150px;
    max-width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;

}

.product-title {
    text-align: center;
}

.product-description {
    text-align: justify;
    padding: 5px;
}

.comment-container {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0;
}

.comment-msg {
    color: #4e5ef1;
    text-align: center;
}

.comment-msg-alert {
    color: #f14e4e;
    text-align: center;
}